.buttons-list {
  list-style-type: none;
  width: 100px;
}

.color {
  background-color: #db1c48;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
  border-radius: 12px;
  border: none;
  width: 90px;
  padding: 10px;
}

.tab-btn {
  font-size: 14px;
  font-family: 'Roboto';
  border-radius: 12px;
  border: none;
  width: 90px;
  padding: 10px;
  border: 1px solid #db1c48;
  cursor: pointer;
}
